<robot name="cylinder">
    <link name="cylinder">
      <inertial>
        <origin xyz="0 0 0"/>
        <mass value="0.1"/>
        <inertia ixx="0.00058" ixy="0.0" ixz="0.0" iyy="0.00058" iyz="0.0" izz="0.00019" />
      </inertial>
      <collision>
        <geometry>
          <cylinder radius="0.035000" length="0.05"/>
        </geometry>
      </collision>
      <visual>
        <origin xyz="0 0 0"/>
        <geometry>
          <cylinder radius="0.035000" length="0.05"/>
        </geometry>
      </visual>
    </link>
  <gazebo reference="cylinder">
    <material>Gazebo/Pink</material>
    <mu1>100</mu1>
    <mu2>100</mu2>
  </gazebo>
 </robot>
