<?xml version="1.0"?>
<launch>
  <arg name="limited" default="false"  doc="If true, limits joint range [-PI, PI] on all joints." />
  <arg name="paused" default="false" doc="Starts gazebo in paused mode" />
  <arg name="gui" default="true" doc="Starts gazebo gui" />
  
  <!-- startup simulated world -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  
  <!--models-->
  <node name="table" pkg="gazebo_ros" type="spawn_model" args="-file $(find gjt_ur_gazebo)/urdf/cafe_table/model.sdf -sdf -model table -x 0.0 -y 1.13 -z 0.0" />
  <node name="box" pkg="gazebo_ros" type="spawn_model" args="-file $(find gjt_ur_gazebo)/urdf/block.urdf -urdf -model box -x -0 -y 1 -z 1.2 -Y 2.2" />
  <!--<node name="long_box" pkg="gazebo_ros" type="spawn_model" args="-file $(find gjt_ur_gazebo)/urdf/long_block.urdf -urdf -model long_box -x -0 -y 1.15 -z 0.8 -Y 2.2" />-->
  
  <!--<node name="coke" pkg="gazebo_ros" type="spawn_model" args="-file $(find gjt_ur_gazebo)/urdf/coke_can/model.sdf -sdf -model coke -x -0.5 -y 0.5 -z 1.1 -R 1.57 -Y -0.3665" />-->
  <node name="dropbox" pkg="gazebo_ros" type="spawn_model" args="-file $(find gjt_ur_gazebo)/urdf/dropbox.urdf -urdf -model dropbox -x -0.5 -y 0.25 -z 1.1 -Y 1.57" />
  <node name="banana" pkg="gazebo_ros" type="spawn_model" args="-file $(find gjt_ur_gazebo)/urdf/banana.urdf -urdf -model banana -x -0.1 -y 1.25 -z 1.1 -R 1.57 -Y 2.2" />
  <node name="cylinder" pkg="gazebo_ros" type="spawn_model" args="-file $(find gjt_ur_gazebo)/urdf/cylinder.urdf -urdf -model cylinder -x 0 -y 1.15 -z 1.2" />
  <node name="test" pkg="gazebo_ros" type="spawn_model" args="-file $(find gjt_ur_gazebo)/urdf/test.urdf -urdf -model tset -x -0 -y 1 -z 1.2 -Y 2.2" />
  <!--<node name="mo" pkg="gazebo_ros" type="spawn_model" args="-file $(find gjt_ur_gazebo)/urdf/add_beer.sdf -sdf -model mo -x -0 -y 0 -z 0" />-->
</launch>
