<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find gjt_ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5_robotiq85_gripper -->
  <xacro:include filename="$(find gjt_ur_description)/urdf/ur5.urdf.xacro" />
  <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="true"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />
  

  <!--robotiq_85_gripper-->
  <xacro:robotiq_85_gripper prefix="" parent="ee_link"/>


  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <!-- <origin xyz="0.0 0.0 0.7" rpy="0.0 0.0 0.0" /> -->
    <origin xyz="0.0 0.0 0.08" rpy="0.0 0.0 0.0" />
  </joint>

  <link name="gripper_grasp_link" />

  <joint name="gripper_grasp_joint" type="fixed">
      <parent link="gripper_finger1_finger_tip_link" />
      <child link = "gripper_grasp_link" />
      <origin xyz="0.025 0.05 0.0" rpy="3.14 0.0 0.0" />
  </joint>

</robot>
