<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="ur5" >

  <xacro:arg name="transmission_hw_interface" default="hardware_interface/PositionJointInterface"/>

  <!-- common stuff -->
  <xacro:include filename="$(find gjt_ur_description)/urdf/common.gazebo.xacro" />

  <!-- ur5_robotiq85_gripper -->
  <xacro:include filename="$(find gjt_ur_description)/urdf/ur5.urdf.xacro" />
  <xacro:include filename="$(find robotiq_85_description)/urdf/robotiq_85_gripper.urdf.xacro" />

  <!-- arm -->
  <xacro:ur5_robot prefix="" joint_limited="false"
    transmission_hw_interface="$(arg transmission_hw_interface)"
  />
  

  <!--robotiq_85_gripper-->
  <xacro:robotiq_85_gripper prefix="" parent="ee_link"/>


  <link name="world" />

  <joint name="world_joint" type="fixed">
    <parent link="world" />
    <child link = "base_link" />
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0" />
  </joint>

  <!--<joint name="trans_gripper_joint" type="fixed">
    <parent link="tool0"/>
    <child link="gripper_base_joint"/>
    <origin xyz="0 0 0" rpy="0 0 0"/>
  </joint>-->

</robot>
